* {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
}

body {
    background-image: url("../images/fon.jpg");
    background-size: 100%;
}

.content-main {
    margin: auto;
    margin-top: 2%;
    width: 95%;
}

.content-main #content-sub {
    margin: auto;
    text-align: center;
    width: 90%;
    color: white;
    font-size: 1.5em;
    font-family: fantasy;
}

.content-main #content-sub h1::after {
    content: " toggleClass";
    font-size: 1.1em;
    border: 2px solid white;
}

.content-main #content-sub h1 {
    margin-bottom: 2%;
}

.content-main #content-img {
    margin: auto;
    width: 100%;
    margin-top: 1%;
    text-align: center;
}

.content-main #content-img #imgBee {
    border-radius: 100%;
    margin: 2% 0 2% 0;
}

.content-main #content-img #imgBee:hover {
    border: 2px solid white;
}